.hero {
  min-height: 60vh;
  background: linear-gradient(
    89.75deg,
    rgba(231, 213, 60, 0.72) 1%,
    rgba(179, 226, 45, 0.752458) 54.05%,
    rgba(135, 236, 33, 0.78) 99.06%
  );
}

/* title */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem solid yellowgreen;
}

.title span {
  padding: 0 1rem;
  border-bottom: 0.4rem solid yellowgreen;
}

/* icons */
.icons {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons i {
  font-size: 5rem;
}
.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Project section */
.projects {
  background: #d5f78e;
}

/* Contacs us */
.contact {
  background: rgba(58, 227, 65, 0.78);
}

/* up botton */
.goup {
  position: fixed;
  bottom: 125px;
  right: 20px;
}
